body {
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    padding: 20px;
}

.flag {
    font-size: 128px;
    /* Display flags in large font size for visibility */
    margin: 20px;
}

input {
    font-size: 16px;
    padding: 10px;
    margin-top: 5px;
}

#result {
    margin-top: 10px;
    /* Adds some space between the input and result text */
    font-size: 20px;
    /* Makes the result text larger and more noticeable */
}

.correct {
    color: green;
    /* Color for correct answers */
}

.incorrect {
    color: red;
    /* Color for incorrect answers */
}

.flag-container {
    display: inline-block;
    font-size: 128px;
    /* Increase the font size to make the emoji larger */
    cursor: pointer;
    /* Shows a pointer cursor on hover to indicate clickability */
    margin: 20px;
    transition: transform 0.2s;
    /* Smooth transform effect for interaction */
}

.flag-container:hover {
    transform: scale(1.1);
    /* Slightly scale up the emoji on hover */
}